<<<<<<< HEAD
h1
{
    text-decoration: underline black;
}
.centre
{
    text-align: center;
=======
html{
    text-align: center;
}

h1{
    text-decoration:underline;
>>>>>>> 5e84df7ec6817c3a0d34e7c3929da5c7df8ad239
}